<header class="container">
   <div class="row">
       <center class="hidden-xs hidden-sm col-md-3 col-lg-3 col-md-offset-7 col-lg-offset-7 buscador searchWeb">
          <div id="p_lt_ctl00_SearchBox_pnlSearch" class="searchBox" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_ctl00_SearchBox_btnImageButton')">
            <label for="p_lt_ctl00_SearchBox_txtWord" id="p_lt_ctl00_SearchBox_lblSearch" style="display:none;">Buscar por:</label>
            <input type="hidden" name="p$lt$ctl00$SearchBox$txtWord_exWatermark_ClientState" id="p_lt_ctl00_SearchBox_txtWord_exWatermark_ClientState">
            <input name="p$lt$ctl00$SearchBox$txtWord" type="text" maxlength="1000" id="p_lt_ctl00_SearchBox_txtWord">
            <input type="image" name="p$lt$ctl00$SearchBox$btnImageButton" id="p_lt_ctl00_SearchBox_btnImageButton" src="/BacCredomaticSeguros/Img/search.aspx" alt="Buscar">
          </div>
       </center>
       <center class="hidden-xs hidden-sm col-md-1 col-lg-1 cartWeb">
          <a href="/BacCredomaticSeguros/Special-Pages/Carrito.aspx">Carrito</a>
       </center>
       <center class="hidden-xs hidden-sm col-md-1 col-lg-1 SesionWeb">
          <a href="#"></a>
          <a class="iniciarSesionLink" href="/BacCredomaticSeguros/Special-Pages/Logon.aspx">Iniciar sesión</a>
       </center>
   </div>
   <div class="row logos">
      <div class="col-md-12 col-lg-12">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="/BacCredomaticSeguros/Inicio.aspx"><img src="https://www.credomatic.cr/BacCredomaticSeguros/Img/logoBac.aspx" class="img-responsive imagen margenesImg"></a>
         </div>
         <div class=" hidden-xs hidden-sm col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
            <a href="/BacCredomaticSeguros/Inicio.aspx"><img src="/BacCredomaticSeguros/Img/logoSeguroViajero.aspx" class="img-responsive logoSeguros"></a>
         </div>
      </div>
   </div>
   <div class="row">
      <nav class="navbar navbar-default" role="navigation">
         <!-- El logotipo y el icono que despliega el menú se agrupan
            para mostrarlos mejor en los dispositivos móviles -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
         <!-- Agrupar los enlaces de navegación, los formularios y cualquier
            otro elemento que se pueda ocultar al minimizar la barra -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  SEGUROS <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/BacCredomaticSeguros/Products/Seguro-Viajero.aspx">Viajes</a>
                    </li>
                    <li>
                      <a href="/BacCredomaticSeguros/Products/Vida.aspx">Vida</a>
                    </li>
                    <li>
                      <a href="/BacCredomaticSeguros/Products/Salud.aspx">Salud</a>
                    </li>
                    <li>
                      <a href="/BacCredomaticSeguros/Products/Tarjeta.aspx">Tarjeta</a>
                    </li>
                    <li>
                      <a href="/BacCredomaticSeguros/Products/Robo.aspx">Robo</a>
                    </li>
                  </ul>
               </li>
               <!-- <li class="menuAdquieraCaja lineasMenu"><a href="/BacCredomaticSeguros/Products/Seguro-Viajero/Seguro-Viajero.aspx" class="AdherirseBtn">ADHERIRSE AQUÍ </a></li> -->
               <li class="lineasMenu2">
                 <a href="https://www.bac.net/mafi/getWebFormOpportunity.do?id=818157053fbcdaCOMcff" target="_blank">CONTACTO</a>
               </li>
               <!-- <li><a href="#">MI CUENTA</a></li> -->
               <li class="hidden-md hidden-lg">
                 <a href="/BacCredomaticSeguros/Special-Pages/Carrito.aspx">CARRITO</a>
               </li>
               <li class="hidden-md hidden-lg">
                  <a class="lineaMenuIniciar" href="#"></a>
                  <a class="iniciarSesionLinkMovil" href="/BacCredomaticSeguros/Special-Pages/Logon.aspx">Iniciar sesión</a>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</header>
