<div class="container-fluid">
  <div class="row tab-navigation">
    <a href="#" data-target="a" class="cobertura-link tab-cobertura-a active">Cobertura A</a>
    <a href="#" data-target="b" class="cobertura-link tab-cobertura-b">Cobertura B</a>
    <a href="#" data-target="c" class="cobertura-link tab-cobertura-c">Cobertura C</a>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.cobertura-link').click(function(){
      target = $(this).data('target');
      //navigation links
      $('.cobertura-link').removeClass('active');
      $('.tab-cobertura-'+target).addClass('active');
      //container tabs
      $('.container.precios').removeClass('active');
      $('#table-'+target).addClass('active');
      //Hero images
      $('.hero-mobile-first').removeClass().addClass('hero-mobile-first '+target);
    })
  });
</script>
