body{
  height: 100%;
}
.main-container{

}
.hero-mobile-first{
  background-size: auto 100%;
  background-position: bottom center;
  padding: 20px;
  box-sizing: border-box;
  h1{
    color: $gris-oscuro;
    font-weight: bold;
  }
}
.hero-cobertura-a{
  background-image: url(../images/cr-hero-seguros-cob-a.jpg);
}
.precios{
  padding: 20px 0;
}

.coberturas-precios{
  p{
    font-size: 3em;
    color: $turquesa;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
    text-align: center;
  }
  small, .small{
    font-size: 1.05em;
    line-height: 30px;
  }
}
.cobertura-por{
  color: $gris-oscuro;
  font-size: 2.5em;
  font-weight: bold;
  small{
    font-size: 0.5em;
    display: block;
    font-weight: normal;
  }
}
.main-button{
  display: block;
  background: $rojo;
  padding: 10px 20px;
  color: #fff;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
    margin-top: -10px;
  }
  &:hover{
    background: darken($rojo, 10%);
    color: #fff;
    text-decoration: none;
  }
}
.tab-navigation{
  div{
    color: #fff;
    padding: 12px 0;
    text-align: center;
    position: relative;
  }
  div.active:after{
    position: absolute;
    content: "";
    top: 98%;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    border-color: #f00 transparent transparent transparent;
  }
  .tab-cobertura-a.active:after{
    border-color: $turquesa transparent transparent transparent;
  }
  .tab-cobertura-b.active:after{
    border-color: $celeste transparent transparent transparent;
  }
  .tab-cobertura-c.active:after{
    border-color: $azul transparent transparent transparent;
  }
  .tab-cobertura-a{
    background: $turquesa;
  }
  .tab-cobertura-b{
    background: $celeste;
  }
  .tab-cobertura-c{
    background: $azul;
  }
}
.table-coberturas{
  table{
    max-width: 100%;
    background: $gris-claro;
    border-bottom: 1px $gris-medio solid;
    tbody >tr>td{
      border-top: 0;
      padding: 4px 15px 5px 15px;
      border-right: 1px solid $gris-medio;
      &:first-child{
        background: #fff;
        border-left: 1px solid $gris-medio;
        border-right: 0;
      }
      &.active{
        &.cell-cobertura-a{
          background: lighten($turquesa, 30%);
        }
        &.cell-cobertura-b{
          background: lighten($celeste, 30%);
        }
        &.cell-cobertura-c{
          background: lighten($azul, 40%);
        }
      }
    }

  }
  th{
    background: $gris-medio;
    &.cell-cobertura-a{
      background: $turquesa;
      border-color: $turquesa;
      border-right: 1px solid $turquesa;
      color: #fff;
    }
    &.cell-cobertura-b{
      background: $celeste;
      border-color: $celeste;
      border-right: 1px solid $celeste;
      color: #fff;
    }
    &.cell-cobertura-c{
      background: $azul;
      border-color: $azul;
      border-right: 1px solid $azul;
      color: #fff;
    }
  }
}
