.header-image {
  background-repeat: no-repeat;
  background-size: 180% auto;
  padding-bottom: 27%;

  @include mq("tablet") {
    background-size: 100% auto;
    padding-bottom: 15%;
  }
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.btn-primary {
  background: $rojo;
  border-color: $rojo;
  font-size: .8em;

  @include mq("phone") {
    font-size: 1em;
  }

  &:hover {
    background: darken($rojo, 10%);
    border-color: darken($rojo, 10%);
  }
}

.coberturas-title {
  color: $gris-oscuro;
  font-size: 2em;
  line-height: 1em;
  height: 110px;
  background: $gris-claro;

  span {
    padding: 20px 30px 30px;
    display:inline-block;
    line-height:40px;
    vertical-align:middle;
  }
}

.cobertura_titles{
  th{
    color: #fff;
    padding: 10px 0;
    font-size: 1.1em;
    width: 33.3333%;
    text-align: center;
    font-size: 1em;
  }
  th:nth-child(1){
    background: darken($turquesa, 10%);
  }
  th:nth-child(2){
    background: darken($celeste, 10%);
  }
  th:nth-child(3){
    background: darken($azul, 10%);
  }
}

#coberturas{
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;

  @include mq("tablet") {
    margin-bottom: 0;
    margin-top: -40px;
  }

  .precios {
    position: relative;

    td {
      padding: 15px;
      color: #fff;
      z-index: -1000;
      vertical-align: top;
      height: 110px;
      font-size: .8em;

      @include mq("phone") {
        font-size: 1em;
      }

      @include mq("tablet") {
        text-align: center;
      }
    }

    td:nth-child(1){
      background: $turquesa;
    }
    td:nth-child(2){
      background: $celeste;
    }
    td:nth-child(3){
      background: $azul;
    }

    span {
      clear: both;
      display: block;
      font-weight: 700;
      font-size: 1.6em;
    }

    p {
      display: block;
      text-align: right;
      margin-top: 20px;
      color: #fff;

      @include mq("tablet") {
        display: none;
      }

      &:hover {
        color: lighten($celeste, 10%);
      }
    }

    td.active {
      //background: red;

      p {
        display: none;
      }
    }

  }
}

.botones {
  text-align: center;

  td {
    padding: 8px;

    @include mq("phone") {
      padding: 15px;
    }
  }

  td:nth-child(1){
    background: lighten($turquesa, 10%);
  }
  td:nth-child(2){
    background: lighten($celeste, 10%);
  }
  td:nth-child(3){
    background: lighten($azul, 10%);
  }

  //Para la flecha de abajo
  td:nth-child(1).active:after{
    border-top-color: lighten($turquesa, 10%);
  }
  td:nth-child(2).active:after{
    border-top-color: lighten($celeste, 10%);
  }
  td:nth-child(3).active:after{
    border-top-color: lighten($azul, 10%);
  }


  .btn {
    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);

    &:hover {
      box-shadow: 0px 1px 19px -2px rgba(0,0,0,0.75);
    }
  }

  td.active {
    position: relative;

    &:after {
      top: 99%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(136, 183, 213, 0);
    	border-width: 20px;
    	margin-left: -20px;
      background-color: transparent;

      @include mq("tablet") {
        display: none;
      }
    }
  }
}

.coberturas-table {
  width: 100%;

  thead {
    border-bottom: solid 2px $gris-medio;
  }

  th {
    padding: 5px 15px;
    color: $azul-oscuro;
    text-transform: uppercase;
    font-size: 1.1em;
    width: 20%;
    text-align: right;
    line-height: 1.8em;
    padding-top: 20px;
    position: relative;

    @include mq("tablet") {
      width: 16.6666%;
    }

    &:first-of-type {
      text-align: left;
      width: 80%;
      @include mq("tablet") {
        width: 50%;
      }
    }

    &:first-of-type:before {
      content: "Ver más";
      display: block;
      float: right;
      color: $azul;
      font-size: 0.7em;
      position: absolute;
      top: 20px;
      left: 102%;
      width: 100px;

      @include mq("tablet") {
        position: static;
        display: inline-block;
        font-size: 0.7em;
        width: auto;
      }
    }

    &:first-of-type:after {
      content: "+";
      display: inline-block;
      float: right;
      color: $azul;
      font-size: 2em;
      margin-right: 10px;
      line-height: .8em;
      position: absolute;
      left: 95%;
      top: 20px;
      @include mq("tablet") {
        position: static;
      }
    }

    &:hover:after {
      color: $azul;
    }
  }

  &.open th:first-of-type:after {
    content: "-";
  }
  &.open th:first-of-type:before {
    content: "ver menos";
  }

  tbody {
    display: none;
  }

  &.open tbody {
    display: table-row-group;
  }

  tr {
    position: relative;
    th {
      display: none;
      cursor: pointer;
      &:first-of-type, &[data-cobertura='1'] {
        display: table-cell;
      }
      @include mq("tablet") {
        display: table-cell;
      }
    }
    td {
      display: none;
      width: 0;
      padding: 5px 15px;
      text-align: right;

      &:first-of-type {
        text-align: left;
        @include mq("tablet") {
          padding-left: 70px;
        }
      }

      @include mq("tablet") {
        text-align: center;
      }

      @include mq("tablet") {
        width: 16.6666%;
        display: table-cell;
      }

      &:first-of-type {
        width: 70%;
        display: table-cell;
        @include mq("tablet") {
          width: 50%;
          display: table-cell;
        }
      }

      &.visible {
        display: table-cell;
      }
    }
  }

  td[data-cobertura='1'] {
    @include mq("tablet") {
      background: $gris-claro;
    }
  }
  td[data-cobertura='3'] {
    @include mq("tablet") {
      background: $gris-claro;
    }
  }
  th[data-cobertura='1'] {
    @include mq("tablet") {
      background: $gris-claro;
    }
  }
  th[data-cobertura='3'] {
    @include mq("tablet") {
      background: $gris-claro;
    }
  }

  &:last-of-type {
    td {
      background: $gris-claro;
      padding: 15px 15px;
    }
    & > tr:last-of-type td {
      padding-bottom: 30px;
    }
  }
}

.icono-categoria {
  width: 25px;
  margin-right: 5px;
  @include mq("tablet") {
    width: 35px;
    margin-right: 20px;
  }
}

.coberturas-table tr td:first-of-type.facil-y-rapido {
  font-size: 1.2em;
  text-align: left;
  color: $gris-oscuro;
  @include mq("tablet") {
    font-size: 1.5em;
    text-align: right;
  }
}

#product-tarjetas{
  background: lighten($gris-claro, 10%);
  padding:  40px 20px;
  font-size: 1.5em;
  color: $gris-oscuro;
  text-align: center;
}

//Mio
.row.logos{
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../images/header.png) no-repeat right top;
}

.dropdown-menu{
    background: $gris-oscuro;
}
.navbar-default .navbar-nav .dropdown-menu li a
{
    border-right: none;
}
