@media(max-width:767px){
  .product-container{
    margin-bottom: 30px;
    h1{
      display: none;
    }
  }
  #product-background{
    background-size: auto 110px;
    &.container {
      padding: 0;
    }
  }
  .responsive-plans{
    h2{
      margin: 0 0 20px 0;
    }
  }
}
@media(min-width:768px){
  .responsive-plans{
    //display:none;
  }
  .tablesaw-bar{
    display: none;
  }
}
@media(min-width:992px){
  .cobertura_monto{
    font-size: 2.4em;
  }
  .product-container h1{
    text-align: left;
    max-width: 50%;
  }
}
@media(min-width:1200px){}
body, .container{
  overflow-x: hidden;
}
@media only screen
and (max-device-width : 320px) {
  .cobertura_monto{
    font-size: 1.6em;
  }
  .cobertura_monto.cobertura-1{
    font-size: 1.8em;
  }
  th{
    min-width: 126px;
  }
}
@media only screen
and (min-device-width : 321px)
and (max-width:768px)
{
  .cobertura_monto{
    font-size: 1.6em;
  }
  .cobertura_monto.cobertura-1{
    font-size: 2.4em;
  }
  th{
    min-width: 126px;
  }
}
