.hero-mobile-first{
  background-size: auto 100%;
  background-position: bottom center;
  padding: 20px;
  box-sizing: border-box;
  h1{
    color: $gris-oscuro;
    font-weight: bold;
  }
}
.hero-cobertura-a{
  background-image: url(../images/cr-hero-seguros-cob-a.jpg);
}
