.hero-mobile-first{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 18px 0;
  box-sizing: border-box;
  h1{
    color: $gris-oscuro;
    font-weight: bold;
    font-size: 2em;
    margin-left: 10px;
    @include mq('tablet') {
      margin-left: 40px;
      font-size: 3em;
    }
  }
  &.a{
    background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-movil-cob-a.png);
    @include mq('tablet') {
        background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-desktop-cob-a.png);
    }
  }
  &.b{
    background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-movil-cob-b.png);
    @include mq('tablet') {
        background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-desktop-cob-b.png);
    }
  }
  &.c{
    background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-movil-cob-c.png);
    @include mq('tablet') {
        background-image: url(https://www.credomatic.cr/BacCredomaticSeguros/BacCredomaticSeguros/media/Viajero-Mobile-First/cr-seguros-hero-desktop-cob-c.png);
    }
  }
}
