.coberturas-precios{
  p{
    font-size: 3em;
    color: $turquesa;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
    text-align: center;
    @media (min-width: $md){
      text-align: left;
    }
  }
  small, .small{
    font-size: 1.05em;
    line-height: 30px;
  }
}
.cobertura-por{
  color: $gris-oscuro;
  font-size: 2.3em;
  font-weight: bold;
  small{
    font-size: 0.5em;
    display: block;
    font-weight: normal;
  }
}
.main-button{
  display: block;
  background: $rojo;
  padding: 10px 20px;
  color: #fff;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
    margin-top: -10px;
  }
  &:hover{
    background: darken($rojo, 10%);
    color: #fff;
    text-decoration: none;
  }
}
