<div class="table-coberturas">
  <table class="table">
    {% for item in page.cobertura_items %}
      <thead>
        <tr>
          <th>{{item.categoria}}</th>
          <th class="cell-cobertura-a">Cobertura A</th>
          <th class="cell-cobertura-b" style="display:none;">Cobertura B</th>
          <th class="cell-cobertura-b" style="display:none;">Cobertura C</th>
        </tr>
      </thead>
      <tbody>
        {% for sub_item in item.items %}
          <tr>
            <td>{{sub_item.title}}</td>
            <td class="cell-cobertura-a active">{{sub_item.valor_a}}</td>
            <td class="cell-cobertura-b" style="display:none">{{sub_item.valor_b}}</td>
            <td class="cell-cobertura-c" style="display:none">{{sub_item.valor_c}}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>
</div>
