---
layout: default
---
{% include header.html %}
<div class="container" id="product-background" style="background-image: url({{page.header_image}});">
  <div class="row">
    <div class="product-container col-xs-12">
      <h1>
        <small>{{page.title_small}}</small><br/>
        {{page.title}}
      </h1>
      <table id="coberturas">
        <thead>
          <tr class="cobertura_titles">
            <th width="40%"></th>
            {% for cobertura in page.coberturas %}
              <th width="20%">{{cobertura.title}}</th>
            {% endfor %}
          </tr>
          <tr class="cobertura_precios">
            <th>Escoge la cobertura apropiada para tí</th>
            {% for cobertura in page.coberturas %}
              <th class="precios-header">
                <a href="{{page.form_root}}{{cobertura.link_al_form}}">
                  Cobertura por:
                  <span class="cobertura_monto">{{page.moneda}}{{cobertura.cobertura}}</span>
                  Por tan sólo <strong>{{page.moneda}}{{cobertura.cuota}}</strong>{% if page.periodo != "unico" %} por {{page.periodo}}{% endif %}
                </a>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for categoria in page.cobertura_items %}
            <tr class="coberturas_categoria">
              <td>{{categoria.categoria}}</td>
              {% for cobertura in page.coberturas %}
                <td>
                  <a href="{{page.form_root}}{{cobertura.link_al_form}}" class="btn btn-danger btn-small">
                    Asegurarme
                  </a>
                </td>
              {% endfor %}
            </tr>

            {% for item in categoria.items %}
            <tr class="categoria_items">
              <td>{{item.title}}</td>
              <td>{{item.valor_a}}</td>
              <td>{{item.valor_b}}</td>
              <td>{{item.valor_c}}</td>
            </tr>
            {% endfor %}

          {% endfor %}
          <tr class="product_botones">
            <td>¡Obtenga su cobertura <strong>INMEDIATA!</strong><br/>Es FÁCIL y RÁPIDO</td>
            {% for cobertura in page.coberturas %}
              <td>
                <a href="{{page.form_root}}{{cobertura.link_al_form}}" class="btn btn-danger">
                  Asegurarme
                </a>
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container" id="product-tarjetas">
  <div class="row">
    <div class="col-xs-12">
      Aceptamos las tarjetas más populares <img src="/images/tarjetas.png" width="240"/>
    </div>
  </div>
</div>

<div class="container" id="numero_de_producto">
  <div class="row">
    <div class="col-xs-12">
      {{ page.numero_de_producto }}
    </div>
  </div>
</div>

{% if page.requisitos %}
<div class="container" id="product-requisitos">
  <div class="row">
    <div class="col-lg-3">
      <h2>Requisitos</h2>
      <p>El solicitante debe ser: </p>
    </div>
    <div class="col-lg-9">
      <ul>
        {% for requisito in page.requisitos %}
          <li>{{requisito}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% if page.faq %}
<div class="container" id="product-faq">
  <div class="row">
    <div class="col-lg-3">
      <h2>Preguntas Frecuentes</h2>
      <p> Haga click en las preguntas para ver sus respuestas</p>
    </div>
    <div class="col-lg-9">
      <div class="panel-group" id="accordion">
        <!-- <div class="faqHeader">General questions</div> -->
        {% for pregunta in page.faq %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.index}}">{{pregunta.pregunta}}</a>
                </h4>
            </div>
            <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{pregunta.respuesta}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.reclamos %}
<div class="container" id="product-reclamos">
  <div class="row">
    <div class="col-lg-3">
      <h2>Reclamos</h2>
    </div>
    <div class="col-lg-9">
      <ul>
        {% for reclamo in page.reclamos %}
          <li>{{reclamo}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% if page.exclusiones %}
<div class="container" id="product-exclusiones">
  <div class="row">
    <div class="col-lg-3">
      <h2>Exclusiones</h2>
    </div>
    <div class="col-lg-9">
      <ul>
        {% for exclusion in page.exclusiones %}
          <li>{{exclusion}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
