---
layout: default
---
<div class:"main-container">

        <div class="hero-cob-a">
          <img src="/images/cr-hero-seguros-cob-a.jpg" alt="BAC Credomatic"/>
        </div>

      <div class="tab-navigation">
        <div class="tab-cob-a">Cobertura A</div>
        <div class="tab-cob-b">Cobertura B</div>
        <div class="tab-cob-c">Cobertura C</div>
      </div>

      <div class"coberturas-precios">
        <div class="precio-a">$39.6</div>
        <div class="cobertura-por-a">Cobertura por $50.000</div>
        <div class="boton-a">Asegurarme</div>
      </div>


      <div class="table-coberturas"
          {% include header.html %}
          <table class="table table-bordered">
            {% for item in page.cobertura_items %}
              <thead>
                <tr>
                  <th>{{item.categoria}}</th>
                  <th>Cobertura A</th>
                  <th>Cobertura B</th>
                  <th>Cobertura C</th>
                </tr>
              </thead>
              <tbody>
                {% for sub_item in item.items %}
                  <tr>
                    <td>{{sub_item.title}}</td>
                    <td>{{sub_item.valor_a}}</td>
                    <td>{{sub_item.valor_b}}</td>
                    <td>{{sub_item.valor_c}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            {% endfor %}
          </table>
      </div>

</div>
